.page-header
  %h1
    Μηχανήματα
    %div
      = link_to new_machinery_path, class: 'btn btn-success' do
        .fa.fa-plus
        Προσθήκη Μηχανήματος
%table.table.table-bordered
  %thead
    %tr
      %th Ονομασία
      %th Ημ. Αγοράς
      %th Κατάσταση
      %th Εγγύηση
      %th Ιδιοκτήτης
      %th{ colspan: '3' } Ενέργειες

  %tbody
    - @machineries.each_with_index do |machinery, index|
      %tr
        %td
          =index+1
        %td= machinery.name
        %td= machinery.dob
        %td= machinery.condition
        %td= machinery.warranty
        %td= machinery.user_id
        %td
          = link_to item, class: 'btn btn-primary' do
            .fa.fa-info-circle
        %td
          = link_to edit_item_path(item), class: 'btn btn-warning' do
            .fa.fa-edit
        %td
          = link_to items_path(@item), method: :delete, remote: true, data: { confirm: 'Είστε σίγουρος;' }, class: 'btn btn-danger' do
            .fa.fa-trash
%br
