= semantic_form_for @invoice do |f|
  = f.inputs do
    = f.input :company
    = f.input :description
    = f.input :quantity
    = f.input :price

  = f.actions do
    = f.action :submit, :as => :input
