%p#notice= notice

%p
  %b Company:
  = @invoice.company
%p
  %b Description:
  = @invoice.description
%p
  %b Quantity:
  = @invoice.quantity
%p
  %b Price:
  = @invoice.price

= link_to 'Edit', edit_invoice_path(@invoice)
\|
= link_to 'Back', invoices_path
