.page-header
  %h1
    - if params[:cat]=="0"
      ="Πελάτες"
    - else
      ="Προμηθευτές"
    %div
      = link_to new_customer_path, class: 'btn btn-success' do
        .fa.fa-plus
        Προσθήκη Χρήστη
%table.table.table-bordered
  %thead
    %tr
      %th A/A
      %th Κατηγορία
      %th Επίθετο
      %th Όνομα
      %th ΑΦΜ
      %th Σταθερό τηλέφωνο
      %th Κινητό τηλέφωνο
      %th Email
      %th Πόλη
      %th Δραστηριότητα
      %th{ colspan: '3' } Ενέργειες

  %tbody
    - @customers.each_with_index do |customer, index|
      %tr
        %td
          =index+1
        %td
          - if customer.cat=="customer"
            ="Πελάτης"
          - else
            ="Προμηθευτής"
        %td= link_to customer.surname, customer, style: 'font-weight:bold'
        %td= customer.name
        %th= customer.afm
        %td= customer.telephone
        %td= customer.cellphone
        %td= customer.email
        %td= customer.city
        %td= customer.activity
        %td
          = link_to customer, class: 'btn btn-primary' do
            .fa.fa-info-circle
        %td
          = link_to edit_customer_path(customer), class: 'btn btn-warning' do
            .fa.fa-edit
        %td
          = link_to customers_path(@customer), method: :delete, remote: true, data: { confirm: 'Είστε σίγουρος;' }, class: 'btn btn-danger' do
            .fa.fa-trash
%br
