.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Σύνδεση
      .panel-body
        = semantic_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .col-md-5
            = f.input :email, label: 'Email: '
          .col-md-6
            = f.input :password, label: 'Κωδικός: '
          .col-md-12
            - if devise_mapping.rememberable?
              %p.text-right.small.pull-left
                = f.label 'Να με θυμάσαι!'
                = f.check_box :remember_me
              %br
              %br
            = f.submit 'Σύνδεση', class: 'btn btn-success pull-right'
          %br
          %br
        - unless omniauth_configured.empty?
          .row
            .col-md-4
              %hr
            .col-md-4
              %h4.text-center
                or use
            .col-md-4
              %hr
          .row
            .col-md-12
              #openidlinks
                = render 'devise/shared/openid'
              %p.text-right
                = render 'devise/shared/links'
