= semantic_form_for @payment do |f|
  = f.inputs do

    = f.input :amount, label: 'Ποσό', input_html: { autofocus: true }

    = f.input :date, label: 'Ημερομηνία'

    = f.input :user_id, label: 'Συναλλασόμενος'

    = f.input :description, label: 'Περιγραφή'


  = f.actions do
    = f.action :submit, :as => :input
