= semantic_form_for @payment do |f|
  = f.inputs do

    = f.input :amount

    = f.input :date

    = f.input :user_id

    = f.input :description


  = f.actions do
    = f.action :submit, :as => :input
