= semantic_form_for @tractor do |f|
  = f.inputs do
    = f.input :Name, label: 'Ονομασία', input_html: { autofocus: true }
    = f.input :Plates, label: 'Πινακίδα'
    = f.input :dob, label: 'Πρώτη Άδεια'
    = f.input :lastservice, label: 'Τελευταίο Service'
    = f.input :filterhours, label: 'Τελ. Αλλ. Φίλτρα'
    = f.input :oilhours, label: 'Τελ. Αλλ. Λάδια'
    = f.input :twh, label: 'Συνολικές Ώρες'

  = f.actions do
    = f.action :submit, :as => :input
