!!!
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
%script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : 'Pappas DΒ'

    %meta{ name: 'description', |
           content: @meta_description ? @meta_description : 'Rails App with bootstrap, user authentication and authorization' }
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    = favicon_link_tag '/favicon.png'
    = stylesheet_link_tag 'application', :media => "all"

    = csrf_meta_tags

  %body
    .wrapper
      .hidden-print
        = render partial: 'layouts/navigation'
        = render partial: 'layouts/sidebar'
      #messages.hidden-print.unobtrusive-flash-container
        = render partial: 'layouts/messages'
      #content
        .nav.navbar.navbar-expand-lg.navbar-light.bg-light
          .container-fluid
            = yield
        /* Footer */
        %footer#footer
          .container
            .row.hidden-print
              .col-md-12
                = render partial: 'layouts/footer'

:javascript

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=1767355980143436";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
