!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : 'Pappas Database'

    %meta{ name: 'description', |
           content: @meta_description ? @meta_description : 'Rails App with bootstrap, user authentication and authorization' }
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    = favicon_link_tag '/favicon.ico'
    = stylesheet_link_tag 'application', :media => "all"

    = csrf_meta_tags

  %body
    .hidden-print
      = render partial: 'layouts/navigation'
    .container-fluid
      .row
        .col-xs-12.col-sm-12.col-md-12
          - if current_user && current_user.is_admin
            .admin-notifications

          #messages.hidden-print.unobtrusive-flash-container
            = render partial: 'layouts/messages'
          .main#content.full-body
            = yield

      /* Footer */
    %footer#footer
      .container
        .row.hidden-print
          .col-md-12
            = render partial: 'layouts/footer'

:javascript

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=1767355980143436";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
